*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
# Project exclude paths
/android/app/build/
/android/app/build/intermediates/javac/debug/classes/
/shared/shared/build/
/shared/shared/build/classes/kotlin/iosSimulatorArm64/main/klib/